{% extends 'base.html' %}

{% comment %} main_app/templates/organizations/organization_form.html {% endcomment %}

{% block content %}
  <h2>Create Organization</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    
    {% if form.errors %}
      <div class="alert alert-danger">
        <ul>
          {% for field in form %}
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    
    <button type="submit">Create Organization</button>
  </form>
{% endblock %}
