{% extends 'base.html' %}

{% comment %} main_app/templates/organizations/organization-create {% endcomment %}

{% block content %}
  <div class="container">
    <h2>Create a New Organization</h2>

    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}

      {% if form.errors %}
        <div class="alert alert-danger">
          <ul>
            {% for field in form %}
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <button type="submit" class="btn btn-primary">Create Organization</button>
    </form>

    <br>
    <a href="{% url 'organization-list' %}">Back to Organizations List</a>
  </div>
{% endblock %}

