{% extends 'base.html' %}
{% comment %} main_app/templates/registration/login.html {% endcomment %}

{% load static %}

{% block content %}
  <div class="page-header">
    <h1>Log In</h1>
    <img src="{% static 'images/nerd-cat.svg' %}" alt="Login Cat" />
  </div>

  {% if form.errors %}
    <p class="red-text">Invalid username or password – try again.</p>
  {% endif %}

  <form method="post" class="form-container">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit" class="btn submit">Log In</button>
  </form>
{% endblock %}
